#-----------------------------
# Libraries
#-----------------------------

[parallelio]
protocol = git
tag = pio2_5_10
repo_url = https://github.com/NCAR/ParallelIO
local_path = libraries/parallelio
required = True

[mct]
protocol = git
tag = MCT_2.11.0
repo_url = https://github.com/MCSclimate/MCT
local_path = libraries/mct
required = True

#-----------------------------
# Configuration/CCS
#-----------------------------

[ccs_config]
protocol = git
tag = ccs_config_noresm0.0.29
repo_url = https://github.com/NorESMhub/ccs_config_noresm.git
local_path = ccs_config
required = True

[cime]
protocol = git
branch = cime6.0.238_httpsbranch
repo_url = https://github.com/ESMCI/cime.git
local_path = cime
required = True

#-----------------------------
# Share
#-----------------------------

[share]
protocol = git
tag = share1.0.18_noresm_v0
repo_url = https://github.com/NorESMhub/NorESM_share
local_path = share
required = True

#-----------------------------
# Components
#-----------------------------

[blom]
protocol = git
tag = f672e71
repo_url = https://github.com/NorESMHub/BLOM
local_path = components/blom
externals = Externals_BLOM.cfg
required = True

[cam]
protocol = git
branch = feature/add_sum_diagnostics
repo_url = https://github.com/mvertens/CAM
local_path = components/cam
externals = Externals_CAM.cfg
required = True

[cice6]
protocol = git
tag = cesm_cice6_4_1_7_noresm_v2
repo_url = https://github.com/NorESMhub/NorESM_CICE
local_path = components/cice
externals = Externals.cfg
required = True

[cdeps]
protocol = git
#tag = cdeps1.0.33_noresm_v0
#repo_url = https://github.com/NorESMhub/CDEPS.git
branch = feature/cplhist_for_ada
repo_url = https://github.com/mvertens/CDEPS.git
local_path = components/cdeps
externals =  Externals_CDEPS.cfg
required = True

[cmeps]
protocol = git
#tag = cmeps0.14.60_noresm_v0
#repo_url = https://github.com/NorESMhub/CMEPS.git
branch = feature/add_errorchecks
repo_url = https://github.com/mvertens/CMEPS.git
local_path = components/cmeps
required = True

[cism]
protocol = git
tag = cismwrap_2_1_99_noresm_v1
repo_url = https://github.com/NorESMhub/CISM-wrapper
local_path = components/cism
externals = Externals_CISM.cfg
required = True

[clm]
protocol = git
tag = ctsm5.2.0-noresm_v0
repo_url = https://github.com/NorESMhub/CTSM
local_path = components/clm
externals = Externals_CLM.cfg
required = True

[mosart]
protocol = git
tag = mosart1_0_49_noresm_v2
repo_url = https://github.com/NorESMhub/MOSART
local_path = components/mosart
required = True

[ww3dev]
protocol = git
tag = ww3_interface_noresm0.0.13
repo_url = https://github.com/NorESMhub/WW3_interface
local_path = components/ww3dev
externals = Externals.cfg
required = True

#-----------------------------
# Tools
#-----------------------------

[pycect]
protocol = git
tag = 3.2.2
repo_url = https://github.com/NCAR/PyCECT
local_path = tools/statistical_ensemble_test/pyCECT
required = False

[externals_description]
schema_version = 1.0.01
